/* FORUM CSS */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

.forum_list {
  border: 0px;
  width: 800px;
}


.forum_list_odd {
  background: #fbfbfb;
  padding: 10px;
  width: 400px;
  font-size: 14px
}

.forum_list_even {
  background: #eee;
  padding: 10px;
  width: 400px;
  font-size: 14px
}

.forum_list_cat {
  background: none repeat scroll 0 0 #f3f3f3;
  color: #2b2b2b;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 10px;
}

.topic_list {
  border: 0px;
  width: 800px;
}

.topic_list_odd {
  border-bottom: 1px solid #eee;
  background: #fff;
  padding: 15px;
  width: 400px;
}

.topic_list_even {
  border-bottom: 1px solid #eee;
  background: #fff;
  padding: 15px;
  width: 400px;
}

.post_quote_link {

}

.specific_post_link {

}

.single_post_top_right_cell {
  text-align: right;
}

.single_post_bottom_left_cell {
  max-width: 160px;
  width: 20%;
}

@media screen and (max-width: 800px) {
  .single_post_bottom_left_cell {
    max-width: 160px;
    width: 20%;
  }
}

.single_post_bottom_right_cell {
  width: 680px;
  height: 131px;
  font-size: 16px;
  color: #2b2b2b;
  font-weight: 400;
  font-family: "Open Sans",sans-serif;
  vertical-align: text-top;
}

.post_content{
  padding-top: 15px;
  padding-bottom: 10px;
}

.post_buttons_div {

}

#post_buttons {

}

.new_post_content {

}

#topic_list_top_row_tr {

}

.topic_list_top_row td:first-child{
  text-align: left;
}

.topic_list_top_row td{
  padding: 20px 10px;
  background: #f3f3f3;
  color: 2b2b2b;
  font-size: 16px;
  font-family: "Open Sans",sans-serif;
  text-align: center;
}

.topic_list_top_bottom td{
  background: #fbfbfb;
  border: 1px solid #f3f3f3;
}

.topic_list_odd:first-child{
  text-align: left;
}

.topic_list_odd{
  text-align: center;
  font-size: 14px;
}

.topic_list_even:first-child{
  text-align: left;
}

.topic_list_even{
  text-align: center;
  font-size: 14px;
}

.list_sub_text{
  font-size: 12px;
}

.text-editor{
  margin-top: 70px;
}

fieldset{
  border: 1px solid #eee;
}

legend{
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  font-family: "Open Sans",sans-serif;
}

fieldset label{
  color: #2b2b2b;
  font-size: 16px;
  padding: 10px;
  font-weight: 400;
}

fieldset input{

}

fieldset input[type="text"]{
  margin: 0px 0px 40px 10px;
  width: 400px;
  height: 40px;
}

#post_buttons_div{
  margin-left: 10px;
  padding: 10px 10px 0px 10px;
  background: #f5f5f5;
}

#post_buttons_div input[type="button"]{
  margin-right: 1px;
  padding:0px 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  cursor: pointer;
  font-size: 12px;
  line-height: 1em;
  box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
  height: 26px;
}

#post_buttons_div input[type="button"]:hover{
  border: 1px solid #2b2b2b; 
}

fieldset textarea{
  margin-left: 10px;
  margin-bottom: 20px;
  width: 98.5%;
  margin-top: 5px;
  height: 250px;
  display: table;
}
fieldset input[type="submit"]{
  margin-left: 10px;
  background: #f67520;
  border: none;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

fieldset input[type="text"]{

}

#post_count_info{
  margin-bottom: 15px;
  margin-top:10px;
  margin-left: 5px;
  font-size: 12px;
  color: #2b2b2b;
  font-family: "Open Sans",sans-serif;font-weight: 300; 
}

#post_count_info span{

}

#post_count_info span#post_counter{

}

.single_post_top_row td{
  background: #f4f4f4;
  border-top: 1px solid #ddd;
  padding: 8px;
  font-size: 16px;
  font-weight: normal;
  font-weight: 400;
  font-family: "Open Sans",sans-serif;
}

.single_post_top_left_cell{
  color: #2b2b2b;
}

.single_post_top_right_cell a{
  color: #ccc;
}

.single_post_bottom_row td{
  background: #fbfbfb;
  padding: 8px;
}

.single_post_bottom_left_cell{
  text-align: center;
}

.single_post_bottom_left_cell img{
  margin-top: 12px;
  margin-left: 10px;
  margin-bottom: 5px;
}
  

.post_quote_link{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quote_in_post{
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 10px 5px 10px 15px;
  font-size: 14px;
  font-style: italic;
  margin-right: 10px;
}

.quote_in_post_link {
  position: relative;
  left: -10px;
  padding-bottom: 10px;
}

.post_last_edited {
  font-style: italic;
  font-size: 14px;
  vertical-align: text-bottom;
}