dd.intellisense.cache
dd.suo
/config.inc
dd.sublime-project
*.sublime-workspace
helpers/keys/dd_anon/dd_anon_public_key.txt
images/userimg/c8l7Io47ACwlDpE9a9jA.png
test/translate/testcases.xml
test/translate/testcases1.xml
test/translate/testcases_before_phrase_templates.xml
.idea
*.iml
/helpers/keys/dd_anon
debug.php

helpers/view/_notes/dwsync.xml

helpers/css/_notes/dwsync.xml

primary_content/vote/vote_types/_notes/dwsync.xml
