/* FORUM CSS */

.forum_info {
    font-size: .8em;
    padding-left: 5px;
}
.forum_info a {
    color: #f67520;
}
.forum_name {
	float: left;
	width: 47.5%;
}
.forum_last_post {
	float: left;
	width: 47.5%;
}
.forum_list_cat {
	background: none repeat scroll 0 0 #f3f3f3;
	color: #2b2b2b;
	font-size: 16px;
	margin-bottom: 5px;
	padding: 10px;
}
.topic_list_top_row {
	padding: 20px 10px;
	background: #f3f3f3;
	color: 2b2b2b;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}
.subject_column {
	text-align: left;
	float: left;
	width: 40%;
	line-height: 1.25;
}
.numerical_column {
	float: left;
	width: 10%;
}
.last_post_column {
	float: left;
	width: 35%;
}
.topic_list_row {
	border-bottom: 1px solid #eee;
	background: #fff;
	padding: 15px;
	text-align: center;
}
.single_post_container {
	height: auto;
    margin-bottom: 0;
}
div.single_post_container.anchor:last-child {
    margin-bottom: 2em;
}
.post_top_row {
	/*background: #f4f4f4;*/
	border-top: 1px solid #ddd;
	padding: 8px 8px 10px;
	font-size: 16px;
	font-weight: normal;
	font-weight: 400;
}
.post_top_row:after {
    content: '';
    clear: both;
    display: table;
}
.post_search_top_row {
	background: #f7f7f7;
	border-top: 1px solid #ddd;
	margin-top: 15px;
	padding: 8px 8px 10px;
	font-size: 16px;
	font-weight: normal;
	font-weight: 400;
}
.post_search_top_row:after {
    content: '';
    clear: both;
    display: table;
}
.post_date {
	color: #2b2b2b;
	width: 25%;
}
.post_alternatives {
	float: right;
	text-align: right;
	width: auto;
	padding-right: 10px;
}
.post-meta, .post-meta-2 {
	margin: 0 -30px;
	}
.post-meta-2 {
	border-bottom: 1px dashed #ddd;
	margin-bottom: 2em;
	padding-bottom: 0;
	}
.post_content div[class^="post-meta"] span {
    line-height: 1.2;
}
.post-meta-2 span.post_alternatives {
	padding-right: 0;
	line-height: 1.5!important;
	}
.post_alternatives a,
span.perma-link a,
.post_content span.post_date {
	color: #aaa;
	font-size: 12px;
	padding-left: 5px;
	text-decoration: none;
}
.post_content span.post_date {
	padding-left: 0;	
	}
.post_bottom_row {
	display: block;
	width: 100%;
	height: auto;
}
.post_user_info {
    float: left;
    max-width: 165px;
    width: 25%;
    text-align: center;
    padding: 8px 25px 10px 0;
}
.post_user_image {
	margin-top: 12px;
	margin-bottom: 5px;
	max-width: 140px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
	-moz-box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
	border: 1px solid #e3e3e3;
}
.post_content {
	min-height: 131px;
	font-size: 16px;
	color: #2b2b2b;
	font-weight: 400;
    padding: 2em 70px 49px;
    margin-top: 20px;
	margin: 20px 0 0 15px;
}
.post_last_edited {
    display: block;
    padding-top: 15px;
    font-style: italic;
    font-size: 14px;
    font-size: 0.75em!important;
    color: #999;
}
 @media screen and (max-width: 600px) {
	.post_user_info {
		width: 100%;
		max-width: 100%;
		height: auto;
		padding: 8 0 8 0;
	}
	.post_user_image {
		margin-left: 0;
	}
	.post_content {
		min-height: 0;
	}
}
.new_post_content {
}
.list_sub_text, .list_sub_text a {
    font-size: 10.5px;
    line-height: 1.8;
    color: #888;
    text-transform: uppercase;
}
.text-editor {
	margin-top: 30px;
}
legend {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
}
fieldset label {
	color: #2b2b2b;
	font-size: 16px;
	padding: 10px;
	font-weight: 600;
}
fieldset input {
}
fieldset input[type="text"] {
	margin: 0 0 20px;
	width: 95%;
	max-width: 400px;
	height: 40px;
	padding-left: 10px;
}
fieldset input[type="submit"] {
}
#post_buttons_div {
	margin-left: 10px;
	padding: 10px 10px 0 10px;
	background: #f5f5f5;
}
#post_buttons_div input[type="button"] {
	margin-right: 1px;
	padding: 0 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background: #f7f7f7;
	cursor: pointer;
	font-size: 12px;
	line-height: 1em;
	box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
	color: #555;
	font-weight: 600;
	text-transform: uppercase;
	height: 26px;
}
#post_buttons_div input[type="button"]:hover {
	border: 1px solid #2b2b2b;
}
#format_buttons_div {
    margin: 20px 0 5px;
}
#format_buttons_div input[type="button"] {
	margin-right: 3px;
	padding: 0 5px;
	border-radius: 0;
	border: 1px solid #ccc;
	background: #fff;
	cursor: pointer;
	font-size: 12px;
	line-height: 1em;
	/*box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);*/
	color: #444;
	min-width: 20px;
	text-transform: uppercase;
	height: 26px;
}
#format_buttons_b {
	font-weight: 600;
}
#format_buttons_b {
	font-style: italic;
}
#format_buttons_u {
	text-decoration: underline;
}
#format_buttons_div input[type="button"]:hover {
	background: #15a4ff;
	color: #fff;
	border-color: #15a4ff;
}
.post_quote_link {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.quote_in_post {
    padding: 10px 20px 10px 50px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: -20px;
	color: #6b6b6b;
}

.user-info-details p {
	line-height: 1.5;
	}
.user-info-details strong {
    min-width: 130px;
    display: inline-block;
}
footer a, footer li {
	color: #ddd;
	font-size: 1.4rem;
	}
footer li {
	margin-bottom: .75em;
	}
.footer-widget ul + h2 {
    margin-top: 2em;
	margin-bottom: 1em;		
}
.like-button {
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}

.like-button:hover {
    transform: scale(1.5, 1.5);
    opacity: 1;
}
