/* FORUM CSS */

.forum_list {
	border: 0px;
	width: 800px;
}

.forum_list_odd {
	border-bottom: 1px solid #bbb;
	background: #e0e0e0;
	padding: 10px;
	width: 400px;
}

.forum_list_even {
	border-bottom: 1px solid #bbb;
	background: #eee;
	padding: 10px;
	width: 400px;
}

.forum_list_cat {
	border-bottom: 1px solid #bbb;
	margin-bottom: 5px;
	background: #ddd;
	padding: 10px;
}

.topic_list {
	border: 0px;
	width: 800px;
}

.topic_list_odd {
	border-bottom: 1px solid #bbb;
	background: #e0e0e0;
	padding: 10px;
	width: 400px;
}

.topic_list_even {
	border-bottom: 1px solid #bbb;
	background: #eee;
	padding: 10px;
	width: 400px;
}

.post_quote_link {

}

.specific_post_link {

}

.single_post_top_right_cell {
	text-align: right;
}

.single_post_bottom_left_cell {
	width: 160px;
}

.single_post_bottom_right_cell {
	width: 680px;
}

.post_buttons_div {

}

#post_buttons {

}

.new_post_content {

}