body, table, tr, td {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #F49500;
}

h1 {
	text-transform: uppercase;
	font-size: 24px;
	color: #000;
}

h2 {
	text-transform: uppercase;
	font-size: 18px;
}

h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
}

p, blockquote, ul, ol {
	line-height: 18px;
	text-align: justify;
}

blockquote {
	padding-left: 20px;
	background: url(images/img05.gif) repeat-y;
}

a {
	color: #F49500;
}

a:hover {
	text-decoration: none;
}

label {
	width: 120px;
	float: left;
	text-align: right;
	margin-right: 5px;
	display: block
}

input[type=text] {
	margin: 2px;
}

input[type=submit] {
	margin-left: 127px;
}



/* TOP MENU */

#menubar {
    list-style-type: none;
	position: fixed;
	height: 32px;
	top: 0;
	left: 0;
	width: 100%;
	background: #222;
    margin: 0;
    padding: 0;
    z-index: 1;
}

#pseudo_menubar {
	position: relative;
	width: 100%;
	height: 32px;
	visibility: hidden;
}

#menubar ul {
    margin: 0;
    padding: 0;
}

#menubar ul ul {
	display: none;
}

#menubar ul ul li {
	float: none;
	position: relative;
}

#menubar ul ul li a {
	font: 400 13px/32px "Open Sans",sans-serif;
	color: #ccc;
}

#menubar ul ul li a:hover {
	background: #222;
}

#menubar ul li:hover > ul {
	display: block;
	background: #222;
}

#menubar ul li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}

#menubar ul li a {
    display: block;
    width: 120px;
	font: 400 13px/32px "Open Sans",sans-serif;
	color: #ccc;
    margin: 0;
    padding: 0px 20px 0px 20px;
}



/* HEADER */

.header {
	position: relative;
	height: 100px;
	padding-left: 30px;
	padding-bottom: 30px;
}

#header-logo {
	width: 359px;
	height: 60px;
}

#dd-logo {
	height: 60px;
}



/* CONTENT */

#wrap {
	width: 1260px;
	margin: 0 auto 20px auto;
	padding: 20px;
	background: #FFFFFF;
}



/* MAIN (LEFT) CONTAINER */

#main-content {
	float: left;
	width: 815px;
	padding-left: 117px;
}

#main-content h1 {
	font-size: 25px;
	font-family: Lato, sans-serif;
	font-weight: 300;
}

/* sidebar */

#sidebar {
	float: right;
	width: 200px;
	padding-left: 20px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li ul {
	padding: 5px 0 30px 0;
}

#sidebar li li {
	padding: 7px 10px;
	background: url(images/img06.gif) repeat-x left bottom;
}

#sidebar li a {
	text-decoration: none;
}

#sidebar li a:hover {
	text-decoration: underline;
}

#sidebar li i {
	font-style: normal;
	font-size: 9px;
}

#sidebar li h2 {
	font-size: 14px;
	color: #000;
}

/* Footer */

#footer {
	height: 100px;
	padding: 20px;
	background: #2D2D2D url(images/img07.gif) repeat-x;
}

#footer p {
	text-align: center;
	color: #999999;
}



/* GENERAL ATTRIBUTES */

.float-right {
	float: right;
}

.green_message {
	border: 1px solid #999;
	border-left: 4px solid #7ad03a;
	padding: 1px 12px;
	margin-bottom: 10px;
}

.red_message {
	border: 1px solid #999;
	border-left: 4px solid #dd3d36;
	padding: 1px 12px;
	margin-bottom: 10px;
}

.single_submit_button {
	display: inline;
}

.single_submit_button input[type=submit] {
	margin-left: 5px;
}