.login-column {
  	width: 320px;
    margin: 10% auto auto;
}

.login-form {
  padding: 0 2px 46px;
  font-weight: 400;font-family: 'Open Sans', sans-serif;
  overflow: hidden
}
.login_image {
    width: 120px;
	margin: 0 auto 2em;
}

.login-form > input{
  margin-bottom: 15px;
  margin-top: 3px;
  background: #fbfbfb;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
  color: #333;
  transition: border-color 0.05s ease-in-out 0s;
  /*height: 35px;*/
}

.login-form form, .login-form input[type="text"], .login-form input[type="password"], .login-form select {
	line-height: 1;
	margin: 2px 6px 16px 0;
	padding: 7px;
	width: 100%;
	font-size: 20px;
	border: 1px solid #ddd;
	-webkit-text-fill-color: #444!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.login-form input[type="submit"] {
    float: right;
}
.login-form input[type="submit"]:hover {
    background: #f67520;
}
.login-column p.small label {
    margin-right: 10px;
    min-width: 35%;
    display: inline-block;
}
.login-column p {
	line-height: 1.5;
	font-size: 1.4rem;
	}
.login-column p.small {
	line-height: 2;
	}
.login-column p.small i.fa {
	margin-right: 5px;
	}
.login-column p.small a {
	color: #444;
	}
input#rememberme {
	float: left;
	margin-right: 6px;
	}


/*.login-form input[type="checkbox"]:focus, .login-form input[type="email"]:focus
, .login-form input[type="number"]:focus, .login-form input[type="password"]:focus
, .login-form input[type="radio"]:focus, .login-form input[type="search"]:focus
, .login-form input[type="tel"]:focus, .login-form input[type="text"]:focus
, .login-form input[type="url"]:focus, .login-form select:focus, .login-form textarea:focus {
  border-color: #5b9dd9;
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}*/

div.login-column div {
	text-align: right;
	}



@media only screen and (max-width: 768px)  {
  .login-column {width: 70%;}
  .login-form {
    padding: 0 2%;
    margin: 25px auto;
    }
}
