/* 	BASE STYLE SHEET 
	Description: CSS Member System for Direktdemokraterna
	Authors: Anders Lönnfält, Peter Hjorthammar
*/

/* FONT IMPORTS */

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900);

/* COLORS 
Orange: #f67520
Blue: #15a4ff
Body text: #444
Boxes grey: #636363
Icons grey: 7a7a7a
Box borders faint: #e3e3e3
*/

/* GENERAL */
body, table, tr, td, 
textarea, fieldset input[type="text"], .sidebar_search_form input[type="text"] {
    margin: 0;
    padding: 0;
    font-family: 'Lato','Open Sans', Helvetica, Arial, sans-serif;
	font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: #444;  
    border-spacing: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    /*color: #F49500;*/
}

h1 {
    /*text-transform: uppercase;*/
    font-size: 24px;
}

h2 {
    color: #000;
    /*text-transform: uppercase;*/
    font-size: 18px;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
}

p, blockquote, ul, ol {
    max-width: 900px;
    line-height: 18px;
    
}

blockquote {
    padding-left: 20px;
    background: url(images/img05.gif) repeat-y;
}

a, a.quote_in_post_link {
    color: #444;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor:pointer;
}

.post_content a {
    color: #005689;
	text-decoration: underline;
}

a.quote_in_post_link,
.list_sub_text a {
    color: #6b6b6b;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}
a.quote_in_post_link,
.list_sub_text a {
    color: #6b6b6b;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 5px;
}
a.quote_in_post_link {
	display: block;
}

b, strong {
    font-weight: bold;
}
em, i {
	font-style: italic;
	}

textarea, input[type="text"] {
	border: 1px solid #ddd;
	padding: 2em;
}
.post_content span {
    word-wrap: break-word;
}
.post_content span {
    word-wrap: break-word;
}
.quote_in_post + br,
.quote_in_post br + br {
	display: none;
	}
.forum_info + p {
    margin-top: 10px;
    margin-left: 5px;
}
/* CONTAINERS (Layout topography) */

.main {
    padding-left: 10px;
}

#main-content, .principal_list {
    float: left;
    width: 100%;
    max-width: 900px;
}
#sidebar {
    float: right;
    width: 250px;
    margin-left: 0;
    font-size: 14px;
	background: #f7f7f7;
}

#main-content h1 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 20px;
	letter-spacing: -1px;
	line-height: 1.25;
}
.post_content,
form#report_post_form,
form#new_post_form,
form#new_topic_form,
form#edit_post_form  {
	float: right;
    max-width: 720px;
    width: 100%;
}
form#new_topic_form  {
	float: right;
    max-width: 720px;
    width: 100%;
}
form.scroll {
    padding-top: 80px;
    margin-top: -30px;
    /* display: block; */
}
/* TYPOGRAPHY */

.post_content {
	font-size: 17px;
	}
.forum_info, .list_sub_text, .quote_in_post, .post_alternatives,
input.vote_button, button.vote_button, .median-vote input[type="text"], .green_message, .red_message  {
	font-family: 'Lato','Open Sans', Helvetica, Arial, sans-serif;
	}
.forum_info {
	font-size: 13px;
	}
.topic_list_row {
}
.topic_list_row span.numerical_column,
.topic_list_row span.last_post_column {
    font-size: 14px;
}
.post_content span, textarea {
	line-height: 1.5;
	font-size: 17px;
}
.quote_in_post:before {
	content: '”';
    font-size: 59px;
    color: #ccc;
    display: block;
    float: left;
    font-family: "Times New Roman", Times, serif;
    margin-left: -20px;
    font-weight: 600;
    margin: -22px 0 0 -36px;		
	}
.quote_in_post > .quote_in_post:before {
	content:'';
	}
	
/* BUTTONS */



/* FORMS, FIELDSETS & INPUTS */

input[type="submit"],
button[type="submit"]  {
    border-radius: 0;
    line-height: 1.25;
    padding: 10px 15px;
    background: #2098F6;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
	letter-spacing: .5;
	font-weight: 600;
	width: 100px;
    cursor: pointer;
    text-transform: uppercase;
}
.login-form input[type="submit"]:hover {
    background: #f67520;
}
textarea#new_post_content,
textarea#edit_post_content,
textarea#new_topic_content {
    border: 1px dashed #ccc;
    border-right: none;
    border-left: none;
    border-radius: 0;
}
fieldset, .post_content {
	border: 1px solid #e3e3e3;
    border-radius: 20px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.15);
}
fieldset textarea {
	margin: 0 0 20px;
    /*width: calc(100% - 48px);*/
	width: 100%;
	max-width: 670px;
    min-height: 300px;
	height: 300px;
    overflow: scroll;
    border-radius: 10px;
    line-height: 1.5;
}
form .fa.fa-paper-plane {
	font: normal normal normal 28px/1 FontAwesome;
    color: #2098F6;
    vertical-align: middle;
    margin-right: 5px;
	}
#sidebar li i.fa {
    font-style: normal;
    font-size: 17px;
    margin-right: -32px;
    color: #fff;
}
.post_content, #new_post_form fieldset,
#new_topic_form fieldset, #edit_post_form fieldset {
	position: relative;
	}
#new_post_form fieldset,
#new_topic_form fieldset,
#edit_post_form fieldset {
	padding: 0 24px 20px;
	}
fieldset {
	padding: 0 24px 20px;
	}
	
.post_content:before, #new_post_form fieldset:before,
#new_topic_form fieldset:before { /* Speech Bubble Arrow */
    content: "";
    position: absolute;
    border-style: solid;
    display: block;
    width: 0;
    top: 43px;
    bottom: auto;
    left: -25px;
    border-width: 10px 25px 11px 0;
    border-color: transparent #e3e3e3;
}

.post_content:after, #new_post_form fieldset:after,
#new_topic_form fieldset:after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    display: block;
    width: 0;
	top: 44px;
    bottom: auto;
    left: -21px;
    border-width: 9px 21px 9px 0;
    border-color: transparent #fff;
}

/* HEADER */

.header {
   	min-height: 80px;
}

#header-logo {
	float: left;
}

#header-lang {
    float: right;
    position: absolute;
    top: 40px;
    right: 10px;
}

a.lang-flag {
    margin-left: 5px;
	display: block;
	margin-bottom: 0;
	margin-top: -5px;
}

#header-lang img {
    width: 25px;
}

#dd-logo {
    width: auto;
    height: 50px;
}

.right {
    float: right;
}

/* CONTENT */

#wrap {
  margin: 0 auto 5em;
  width: 100%;
  max-width: 1200px;
  clear:both;
  padding-top: 2em;
}
#wrap-area{
    background: #fff;
    height: 100% auto;
    padding-top:40px;
}
.main:after, #footer:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1;
}

/* STANDARD FORM */

/*p + form, div + form {
	margin-top: 50px!important;
}*/

.standard-form label {
    display: inline-block;
    margin-right: 5px;
    padding: 10px 0px;
    width: 220px;
    font-size: 14px
}

.checkbox-form label {
    display: inline;
}

.standard-form select{
    max-width: 400px;
    width: 95%;
    margin: 10px 0px;
    line-height: 15px;
    padding: 3px 5px;
}

.standard-form textarea {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 95%;
    margin-top: 5px;
    height: 250px;
    display: block;
}

.standard-form input[type="checkbox"]{
    width: 20px;
}

.standard-form input[type="radio"]{
    width: 20px;
}

.standard-form input[type="checkbox"]:focus, .standard-form input[type="email"]:focus, .standard-form input[type="number"]:focus, .standard-form input[type="password"]:focus, .standard-form input[type="radio"]:focus, .standard-form input[type="search"]:focus, .standard-form input[type="tel"]:focus, .standard-form input[type="text"]:focus, .standard-form input[type="url"]:focus, .standard-form select:focus, .standard-form textarea:focus {
  border-color: #5b9dd9;
  box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
}

.short-input {
    width: 60px;
}
/* FORM REPLY, POST */

#new_post_form legend,
#new_topic_form legend,
#report_post_form legend,
#edit_post_form legend {
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
    margin-top: -43px;
    margin-left: -18px;
    display: block;
    position: absolute;
}
#report_post_form textarea {
	margin-top: 22px;
}
#new_topic_form label {
    color: #2b2b2b;
    font-size: 16px;
    padding: 10px 10px 10px 0;
    clear: both;
    display: block;
}
.btn-blue {
    float: right;
    display: block;
    font-size: 14px;
    margin-right: 21px;
	margin-bottom: 10px;
    background: #f65c20;
	background: #2098F6;
    color: #fff;
	padding: 7px 10px 5px;
	font-weight: bold;
}
.btn-blue:before {
    font: normal normal normal 17px/1 FontAwesome;
    content: "\f044";
    margin-right: 5px;
    display: block;
    float: left;
    margin-top: -1px;
}
.btn-blue > a:hover {
	color: #fff!important;
	text-decoration: none;
	}
.btn-blue:hover {
    /*background: #636363;*/
}

/* CHECKBOX GRID */

.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
}

/* FOOTER */

#footer {
    padding: 20px;
    background: #636363;
	display: block;
	clear: both;
}
.footer:before {
	display: block;
	clear: both;
	margin-top: 2em;
}
footer {
	min-height: 200px;
	margin: 0 auto;
	padding: 1%;
	width: 98%;
	max-width: 1200px;
	color: #fff;
	}
footer h2 {
	color: #fff;
	}
footer p {
    text-align: center;
    color: #999999;
}
.footer-widget {
	width: 25%;
	float: left;
	display: block;
}

/* GENERAL ATTRIBUTES */

.clear {
    clear: both;
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}
.align-center {
	text-align: center;	
	}
.align-right {
	text-align: right;	
	}
.align-left {
	text-align: left;	
	}
.invisible-link {
    color: inherit;
}

.green_message, .red_message {
    /*max-width: 800px;*/
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    color: #fff;
	font-weight: 700;
}
.green_message {
    background: #7ad03a;
}
.red_message {
    background:  #dd3d36;
}
.green_message:before, .red_message:before {
	display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
	content: "\f05a";
	margin-right: 5px;
    vertical-align: top;
	}

/* NORMAL LIST */



.list_of_links {
    font-size: 14px;
    line-height: 28px;
}

.list_of_link_menu {
  clear: both;
  margin-bottom: 15px;
  margin-top:10px;
  margin-left: 5px;
  font-size: 12px;
  color: #2b2b2b;
  font-family: "Open Sans",sans-serif;
  font-weight: 300;
}

.list_counter {
    padding-right: 80px;
}

.list_sort_alternative {
    padding-left: 30px;
    white-space: nowrap;
    display: inline-block;
}

/* GRID VIEW */

.grid_view{
    width: 100%;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background: #fff;border-spacing: 0;
    margin-bottom: 15px
}

.grid_view tbody td {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 5px;
    font-size: 15px;
    font-weight: 400px;
    line-height: 1.25;
}

.grid_view tbody th {
    border-bottom: 1px solid #e1e1e1;
    background: #eee;border-spacing: 0;
    padding: 10px 5px;
}

.grid_view tbody > tr > th > a {
    color: #000;
}

tr.even_row {
    background-color: aliceblue
}

tr.odd_row {
    background-color: white
}

tr.unread {
    font-weight: bold;
    font-style: italic;
}

/* PAGING */

.paging_info {
  clear: both;
  margin: 10px 21px 15px 5px;
  font-size: 12px;
  color: #2b2b2b;
  font-family: "Open Sans",sans-serif;font-weight: 300;
}

#dd-to-top {
	text-align: right;
	margin: 0 20px 5px 0;
}

#site-scroll-top {
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 0;
    background: #f7f7f7;
    text-align: center;
    z-index: 999;
    transition: all 0.25s ease-in-out;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
	line-height: 30px;
	color: #444;
	background: transparent;
	float: right;
}
#site-scroll-top:hover {
	color: #fff;
	background: #2098F6;
}
#site-scroll-top i.fa{
    font: normal normal normal 14px/2.5 FontAwesome;
}

html {
  height: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#wrap {
  flex: 1;
}

/* Responsive in responsive.css */


/* SELECT OPTION DROP DOWNS */
.styled-select {
   height: 29px;
   overflow: hidden;
   width: 240px;
   margin-right: 10px;
   margin-bottom: 10px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(/images/select-chevrons.gif) no-repeat right center;
   height: 35px;
   width: 240px;
   float: left;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   height: 35px;
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
}

.slate   { background-color: #ddd; }
.slate select   { color: #000; }
