/* VOTE CSS */

#list_of_votes {
	display: none;
}

.vote_result_box {
	width: 100%;
	padding: 10px;
	background: #7788ff;
	color: white;
	margin-bottom: 15px;
}

.vote-end-date {
	color: #444;
	background: #fff;
	padding: 0 5px;	
}

#user_vote_box {
}

.yes-no {
	width: 100%;
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #444;
	text-align: center;
}

.yes-no:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.vote_box {
	margin-top: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #444;
}

/* VOTE BUTTONS */

.vote-buttons {
	clear: both;
    margin: 0 0 10px 0;
    text-align: center;
    width: 100%;
    padding: 23px 0 28px;
	border: 5px dashed #ccc;
	background: #f7f7f7;
	}
.vote-buttons:after {
    clear: both;
    display: block;
    content: '';
}

.vote_button {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	border-radius:60px;
	border: 5px solid #aaa;
	font-size: 20px;
	cursor: pointer;
}

input.vote_button, button.vote_button {
    padding: 25px 50px;
    /*-webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.3);*/
    font-size: 26px;
    min-width: 260px;
    width: auto;
    border-radius: 10px;
    margin: 2px;
	border: 3px solid #fff;
	font-weight: 900;
}
input.vote_button:hover {
	
	
	}
button.vote_button i {
	margin-right: 7px;
	}
	
button.blue_vote,
button.blue-button#green_vote {
    background: #2098F6;
    background: #19c5ff;
    background: -moz-radial-gradient(center, ellipse cover, #19c5ff 0%, #049bce 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #19c5ff 0%,#049bce 100%);
    background: radial-gradient(ellipse at center, #19c5ff 0%,#049bce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19c5ff', endColorstr='#049bce',GradientType=1 );
}

#green_vote, .support-box {
    background: #3aca02;
    background: -moz-radial-gradient(center, ellipse cover, #3aca02 0%, #268a00 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #3aca02 0%,#268a00 100%);
    background: radial-gradient(ellipse at center, #3aca02 0%,#268a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aca02', endColorstr='#268a00',GradientType=1 );
}

#red_vote, .reject-box {
    background: #ff3019;
    background: -moz-radial-gradient(center, ellipse cover, #ff3019 0%, #cf0404 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ff3019 0%,#cf0404 100%);
    background: radial-gradient(ellipse at center, #ff3019 0%,#c10202 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 );
}

#yellow_vote {
    background: #ffe822;
    background: -moz-radial-gradient(center, ellipse cover, #ffe822 37%, #d6c000 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ffe822 37%,#d6c000 100%);
    background: radial-gradient(ellipse at center, #ffe822 37%,#d6c000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe822', endColorstr='#d6c000',GradientType=1 );
	color: #666;
}

#white_vote, .unsorted-box {
    background: #bbb;
    font-size: 1.2em;
    width: 253px;
    padding: 25px 0;
    color: #666;
    background: -moz-radial-gradient(center, ellipse cover, #ededed 0%, #bcbcbc 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ededed 0%,#bcbcbc 100%);
    background: radial-gradient(ellipse at center, #ededed 0%,#bcbcbc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#bcbcbc',GradientType=1 );
}
.blue_vote:hover,
button.blue-button#green_vote:hover {
	border: 3px solid #2098F6;
	}
#red_vote:hover {
	border: 3px solid #cf0404;
	}
#green_vote:hover {
	border: 3px solid #268a00;
	}
#yellow_vote:hover {
	border: 3px solid #d6c000;
	}
#white_vote:hover {
	border: 3px solid #bbb;
	}

.median-vote-divider {
	height: 20px;
	}
.median-vote button {
	clear: both;
	float: none;
	display: block;
	margin: 5px auto;
	}
.median-vote label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.median-vote input[type="text"] {
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
    width: 255px;
    margin-bottom: 14px;
	font-weight: 900;
	}

/* Prio-vote sorting list */

.drop-boxes-prio-vote-wrapper {
    width: 50%;
	display: block;
	float:	left;
	margin-left: 20px;
	padding-top: 5px;
}
.prio-vote-buttons-wrapper {
    width: 45%;
    float: right;
}

.prio-vote-box {
    list-style-type: none;
    border: 3px solid #666;
    padding: 10px;
    min-height: 60px;
    min-width: 100%;
}

.unsorted-box, .reject-box, .support-box {
	margin-bottom: 10px;
}

.support-box {
	border: 3px solid #065a01;
	}
.unsorted-box {
    border: 3px solid #5a5a5a;
}
.reject-box {
	border: 3px solid #8a1f1f;
	}

.sortable {
    cursor: move;
    border: 1px solid rgba(255, 255, 255, .5);
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    margin-top: 5px;
    min-height: 20px;
    font-size: 18px;
}

.sortable-dragging {
	height: 20px;
	opacity: .5;
}

.sortable-placeholder {
	height: 20px;
	padding: 5px;
	margin-top: 5px;
	border: 1px dotted rgba(255, 255, 255, .1);
}


/* Delegation classes */
.delegation_box {
	padding: 5px; 
	margin-bottom: 15px;
	border: 1px dotted #ccc;
}

/* Validation */
.invalidInput {
	background: pink;
}



/*.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
.sortable li span { position: absolute; margin-left: -1.3em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
.sortable-number { width: 25px;float: left;line-height: 1em;text-align: center;font-weight: bold; }
*/