@charset "UTF-8";
/* VOTE CSS */

#list_of_votes {
	display: none;
}

.vote_result_box {
	width: 100%;
	padding: 10px;
	background: #7788ff;
	color: white;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: 900;
	line-height: 2;
}
.vote-container.float-left {
	float: left;
    width: 71%;
    padding: 0 30px 0 0;
}

.vote-container.float-right {
	float: right;
	width: 29%;
	font-size: 12px;
}

#vote_container_grey_box {
    background: #f7f7f7;
    padding: 0 10px;
	}
#vote_container_grey_box h2 {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    color: #555;
	background: #e0e0e0;
	padding: 10px 10px;
	margin: 0 -10px;
	text-align: right;
}
#vote_container_grey_box h2.h2-information:after,
#vote_container_grey_box h2.h2-stats:after,
#vote_container_grey_box h2.h2-tools:after {	
	margin-left: 7px;
	font-size: 17px;
	}
#vote_container_grey_box h2.h2-information:after {
	content: '\f075';
	}
#vote_container_grey_box h2.h2-stats:after {	
	content: '\f080';
	}
#vote_container_grey_box h2.h2-tools:after {	
	content: '\f013';
	}
#vote_container_grey_box h2:before {
	content: '\f056';
	float: left;
	color: #9b9b9b;
	}
a.link-icon:before {
	content: '\f0c1';
	display: inline-block;
	}
#vote_container_grey_box table {
    margin: 5px 0;
    width: 100%;
}
#vote_container_grey_box table td {
	font-size: 12px;
    padding: 2px;
    text-align: left;
	border-bottom: 1px solid #eee;
	vertical-align: middle;
	line-height: 1.25;
}
#vote_container_grey_box table td:first-child {
	width: 60%;
	}
#vote_container_grey_box strong {
    font-weight: inherit;
}
.vote-description {
	line-height: 1.25;
	width: 90%;
	}
a.btn-blue.bubble {
    color: #fff;
    margin: 20px 0 0 0;
    padding: 10px 20px;
    line-height: 1.5;
}
a.btn-blue.bubble:before {
	content: '\f075';
	display: table;
}

a.btn-blue.bubble:hover {
	text-decoration: none;
}
a.btn-blue.bubble span {
	display: table-cell;
}

.yes-no {
	width: 100%;
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #444;
	text-align: center;
}

.yes-no:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.vote_box {
	margin-top: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #444;
}
table.view-ballots {
	width: 100%;
	}
table.view-ballots th {
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	}
table.view-ballots td {
	border-bottom: 1px solid #ddd;
	}

/* VOTE BUTTONS */

.vote-buttons {
	clear: both;
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 23px 0 28px;
	/*border: 5px dashed #ccc;*/
	/*background: #f7f7f7;*/
	}
.vote-buttons:after {
    clear: both;
    display: block;
    content: '';
}

.vote_button {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	border-radius:60px;
	border: 5px solid #aaa;
	font-size: 20px;
	cursor: pointer;
}

input.vote_button, button.vote_button {
    padding: 25px 50px;
    font-size: 26px;
    min-width: 295px;
    width: auto;
    border-radius: 0;
    margin: 0 5px 5px 0;
    /* border: 3px solid #fff; */
    font-weight: 900;
    float: left;
}
input.vote_button:hover {
	
	
	}
button.vote_button i {
	margin-right: 7px;
	}
	
button.blue_vote,
button.blue-button#green_vote {
    background: #2098F6;
    background: #19c5ff;
    background: -moz-radial-gradient(center, ellipse cover, #19c5ff 0%, #049bce 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #19c5ff 0%,#049bce 100%);
    background: radial-gradient(ellipse at center, #19c5ff 0%,#049bce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19c5ff', endColorstr='#049bce',GradientType=1 );
	background: #19c5ff;
}

#green_vote, .support-box {
    
    background: -moz-radial-gradient(center, ellipse cover, #3aca02 0%, #268a00 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #3aca02 0%,#268a00 100%);
    background: radial-gradient(ellipse at center, #3aca02 0%,#268a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aca02', endColorstr='#268a00',GradientType=1 );
	background: #3aca02;
}

#red_vote, .reject-box {
    
    background: -moz-radial-gradient(center, ellipse cover, #ff3019 0%, #cf0404 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ff3019 0%,#cf0404 100%);
    background: radial-gradient(ellipse at center, #ff3019 0%,#c10202 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 );
	background: #ff3019;
}

#yellow_vote {
    
    background: -moz-radial-gradient(center, ellipse cover, #ffe822 37%, #d6c000 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ffe822 37%,#d6c000 100%);
    background: radial-gradient(ellipse at center, #ffe822 37%,#d6c000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe822', endColorstr='#d6c000',GradientType=1 );
	background: #ffe822;
	
	color: #666;
}

#white_vote, .unsorted-box {
    
    font-size: 1.2em;
    width: 253px;
    padding: 25px 0;
    color: #666;
    background: -moz-radial-gradient(center, ellipse cover, #ededed 0%, #bcbcbc 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ededed 0%,#bcbcbc 100%);
    background: radial-gradient(ellipse at center, #ededed 0%,#bcbcbc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#bcbcbc',GradientType=1 );
	background: #ededed;
}
/*.blue_vote:hover,
button.blue-button#green_vote:hover {
	
	}
#red_vote:hover {
	background-color: #f40501;
	
	}
#green_vote:hover {
	background-color: #2ead00;
	}
#yellow_vote:hover {
	background-color: #eed700;
	}
#white_vote:hover {
	background-color: #a4a4a4;
	}*/

.median-vote-divider {
	height: 20px;
	}
.median-vote button {
	clear: both;
	float: none;
	display: block;
	margin: 5px auto;
	}
.median-vote label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.median-vote input[type="text"] {
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
    width: 255px;
    margin-bottom: 14px;
	font-weight: 900;
	}
#green_vote:before,
#red_vote:before,
#yellow_vote:before,
#white_vote:before {
    font-size: 26px;
    margin-right: 7px;
}	
#green_vote:before {
    content: '\f164';
	content: '\f087';
}
#red_vote:before {
	content: '\f088';
    /*content: '\f165';*/
}
#yellow_vote:before {
    content: '\f05e';
}
#white_vote:before {
    content: '\f112';
}

/* Prio-vote sorting list */

.drop-boxes-prio-vote-wrapper {
    width: 50%;
	display: block;
	float:	left;
	margin-left: 20px;
}
.prio-vote-buttons-wrapper {
    width: 45%;
    float: right;
}

.prio-vote-box {
    list-style-type: none;
    border: 3px solid #666;
    padding: 10px;
    min-height: 60px;
    min-width: 100%;
	
}

.unsorted-box, .reject-box, .support-box {
	margin-bottom: 10px;
}

.support-box {
	border: 3px solid #065a01;
	}
.unsorted-box {
    border: 3px solid #5a5a5a;
}
.reject-box {
	border: 3px solid #8a1f1f;
	}
#support-list:before {
    content: 'Dra och släpp kandidater du prioriterar upp, i det gröna fältet. Sortera även individuellt i den ordning du föredrar kandidaterna.';
    font-size: 11px;
    font-family: 'Lato';
	color: #eee;
}
.unsorted-box:before {
    content: 'De kandidater du inte har någon åsikt om - låter du vara kvar i det grå, neutrala fältet.';
    font-size: 11px;
    font-family: 'Lato';
}
#reject-list:before {
    content: 'Dra och släpp kandidater du prioriterar ner, i det röda fältet. Sortera även individuellt i den ordning du föredrar kandidaterna.';
    font-size: 11px;
    font-family: 'Lato';
	color: #ddd;
}

.sortable {
    cursor: move;
    border: 1px solid rgba(255, 255, 255, .5);
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    margin-top: 5px;
    min-height: 20px;
    font-size: 18px;
}

.sortable-dragging {
	height: 20px;
	opacity: .5;
}

.sortable-placeholder {
	height: 20px;
	padding: 5px;
	margin-top: 5px;
	border: 1px dotted rgba(255, 255, 255, .1);
}


/* Delegation classes */
.delegation_box {
	padding: 5px; 
	margin-bottom: 15px;
	border: 1px dotted #ccc;
}

/* Validation */
.invalidInput {
	background: pink;
}



/*.sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
.sortable li span { position: absolute; margin-left: -1.3em; }
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
.sortable-number { width: 25px;float: left;line-height: 1em;text-align: center;font-weight: bold; }
*/